:root { 
--black_900_3d:#0000003d; 
--deep_orange_A100:#fdab76; 
--light_blue_300:#50d1ff; 
--deep_orange_600_14:#fa541c14; 
--red_900:#b3200e; 
--amber_A100:#ffe475; 
--green_A200:#69f290; 
--gray_50:#f9fafb; 
--red_500_3d:#ff48423d; 
--green_A400:#0cd66e; 
--bluegray_300_3d:#919eab3d; 
--teal_600:#069a6b; 
--black_900:#000000; 
--deep_orange_600:#fa541c; 
--amber_500_3d:#ffc1073d; 
--bluegray_300_28:#919eab28; 
--purple_A100:#dc8cff; 
--purple_500:#9b3ab1; 
--deep_orange_100:#fdbab9; 
--amber_400:#ffc81a; 
--bluegray_300_51:#919eab51; 
--cyan_400_3d:#22b8cf3d; 
--red_A100:#ff7777; 
--lime_800:#b7860d; 
--blue_500:#2994ff; 
--gray_900:#161c24; 
--green_A400_3d:#0cd66e3d; 
--orange_200:#ffcb81; 
--bluegray_900:#212b36; 
--cyan_200:#80f3da; 
--orange_50:#fee9d1; 
--bluegray_500:#637381; 
--bluegray_300:#919eab; 
--cyan_800:#116e95; 
--cyan_900:#063963; 
--white_A700:#ffffff; 
--cyan_400:#22b8cf; 
--indigo_500:#355ec9; 
--bluegray_300_14:#919eab14; 
--white_A700_9b:#ffffff9b; 
}